<h1>Editing Post</h1>

<form action="/posts/update/<%= @post.id %>" method="get" accept-charset="utf-8">
  <%# partial: "" 과 :partial => ""은 동일합니다. hash을 공부하세요. %>
  <%= render partial: "error_log" %>
  title <br />
  <input type="text" name="title" value="<%= @post.title %>"><br />
  body <br />
  <textarea name="body" rows="8" cols="40"><%= @post.body %></textarea>
  <input type="submit" value="update">
</form>

<a href="/posts">/posts</a>
