<h1>Listing posts</h1>

<a href="/posts/new">/posts/new</a>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><a href="/posts/show/<%= post.id %>">show</a></td>
      <td><a href="/posts/edit/<%= post.id %>">edit</a></td>
    </tr>
  <% end %>
</table>
